@import "tailwindcss";



:root {
  --background: #ffffff;
  --foreground: #000000;

  /* Default font variable for global usage */
  --font-sans: var(--font-mitr);
  --font-mono: monospace; /* optional, fallback */
}

.font-syne{
  font-family: var(--font-syne);
}

.font-mitr {
  font-family: var(--font-mitr);
}

.font-modak {
  font-family: var(--font-modak);
}

.font-jersey {
  font-family: var(--font-jersey);
}

.font-luckiest {
  font-family: var(--font-luckiest);
}

.font-madimi {
  font-family: var(--font-madimi);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-mitr);
  --font-mono: monospace;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #000000;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-mitr), sans-serif;
}
